<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="startup.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Don't interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^startup.js\/debug[\/]?" />
        </rule>

        <!-- First, try to serve static files from the public folder -->
        <rule name="StaticContent">
          <action type="Rewrite" url="dist/public{REQUEST_URI}" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
        </rule>

        <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="startup.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode 
      nodeProcessCommandLine="node"
      watchedFiles="web.config;*.js"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="true" />
    
    <!-- Increase request timeout for long-running operations -->
    <httpRuntime executionTimeout="240" />
    
    <!-- Configure compression -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    
    <!-- Set default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="startup.js" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
